@page "/couponpurchased/allcoupon"
@inject ClientCouponServices clientCouponServices
@inject IJSRuntime JSRuntime
@inject IModalService myModal
@inject IStringLocalizer<Resource> localizer

<h3>@localizer["CouponList"]</h3>

@if (clientCoupons == null || clientCoupons.Count == 0)
{
    <h2>@localizer["NoCouponIssued"]</h2>
    <a href="/" style="text-decoration: none;" class="button is-info  is-link is-outlined">Home</a>
}
else
{
    <div style="display: flex; flex-direction: row-reverse;" class="mb-2">
        <HandleDeleteButtonComponent OnAllowButtonStateChange="OnAllowButtonStateChange" />
    </div>

    <RadzenGrid @ref="radzenClientCouponGrid" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="15"
                AllowSorting="true" Data="@radzenClientCouponList" TItem="RadzenClientCoupon" ColumnWidth="150px" Count="1" RowRender="@RowRender">
        <Columns>
            <RadzenGridColumn TItem="RadzenClientCoupon" Width="@colWidth" Property="TRCId" Title="@localizer["CouponId"]">
                <FooterTemplate>
                    @localizer["TotalCoupons"]: <b>@radzenClientCouponGrid.View.Count()</b>
                </FooterTemplate>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="RadzenClientCoupon" Width="@colWidth" Property="CouponName" Title="@localizer["CouponType"]" />
            <RadzenGridColumn TItem="RadzenClientCoupon" Width="180px" Property="ClientEmail" Title="@localizer["Client"]" />
            <RadzenGridColumn TItem="RadzenClientCoupon" Width="@colWidth" Property="CouponPages" Title="@localizer["Pages"]" />
            <RadzenGridColumn TItem="RadzenClientCoupon" Width="@colWidth" Property="SpentPages" Title="@localizer["PrintedPages"]" />
            <RadzenGridColumn TItem="RadzenClientCoupon" Width="@colWidth" Property="RemainingPages" Title="@localizer["RemainingPages"]" />
            <RadzenGridColumn TItem="RadzenClientCoupon" Property="ClientCoupon" Title="" Filterable="false" Sortable="false">
                <Template Context="data">
                    @{
                        url[0] = $"couponpurchased/discountpages/{data.ClientCoupon.Id}";
                        url[1] = $"couponpurchased/details/{data.ClientCoupon.Id}";
                    }
                    <a href="@(remainingPages == 0 ? "javascript:function() { return false; }": url[0])"
                       class="button is-success is-small is-link is-outlined" style="text-decoration:none;"
                       disabled=@(remainingPages == 0 ? true: false)>
                        @localizer["SetPages"]
                    </a>
                    <a href="@url[1]" class="button is-primary is-small is-link is-outlined" style="text-decoration:none;">
                        <span class="oi oi-magnifying-glass"></span>
                    </a>
                    <a @onclick="@(()=>HandleDelete(data.ClientCoupon))" class="button is-danger is-small is-link is-outlined" disabled=@disabled>
                        <span class="oi oi-trash"></span>
                    </a>
                </Template>

            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
    <BackButtonComponent />
}

@code {
    RadzenGrid<RadzenClientCoupon> radzenClientCouponGrid;
    private string colWidth = "120px";
    List<ClientCoupon> clientCoupons;
    List<RadzenClientCoupon> radzenClientCouponList;
    string[] url = new string[2];
    private int remainingPages;

    private bool disabled = true;

    protected async override Task OnInitializedAsync()
    {
        clientCoupons = await clientCouponServices.GetAllClientCouponAsync();
        MapClientCouponToRadzenClientCoupon();
    }

    private async Task HandleDelete(ClientCoupon clientCoupon)
    {
        if (disabled)
        {
            return;
        }
        var messageForm = myModal.Show<ConfirmDeleteComponent>(localizer["AreYouSureToDeleteCoupon"] + $" {clientCoupon.TRCId}?");
        var result = await messageForm.Result;

        if (result.Cancelled)
        {
            return;
        }

        if ((bool)result.Data)
        {
            await clientCouponServices.DeleteClientCouponAsync(clientCoupon);
            clientCoupons = await clientCouponServices.GetAllClientCouponAsync();
            MapClientCouponToRadzenClientCoupon();
        }
        this.StateHasChanged();
    }

    private void RemainingPages(int pages, int spentPages)
    {
        remainingPages = pages - spentPages;
    }

    void OnAllowButtonStateChange(bool value)
    {
        disabled = value;
    }

    private void MapClientCouponToRadzenClientCoupon()
    {
        radzenClientCouponList = new List<RadzenClientCoupon>();
        int index = 1;
        foreach (var clientCoupon in clientCoupons)
        {
            RemainingPages(clientCoupon.Coupon.Pages, clientCoupon.SpentPages);
            RadzenClientCoupon radzenClientCoupon = new RadzenClientCoupon
            {
                Index = index,
                TRCId = clientCoupon.TRCId,
                CouponName = clientCoupon.Coupon.Name,
                ClientEmail = clientCoupon.Client.Email,
                CouponPages = clientCoupon.Coupon.Pages,
                SpentPages = clientCoupon.SpentPages,
                RemainingPages = remainingPages,
                ClientCoupon = clientCoupon
            };
            radzenClientCouponList.Add(radzenClientCoupon);
            index++;
        }
    }

    void RowRender(RowRenderEventArgs<RadzenClientCoupon> args)
    {
        args.Attributes.Add("style", $"font-weight: {(args.Data.RemainingPages == 0 ? "bold" : "normal")};");
    }
}