@page "/coupon/create"
@inject CouponServices couponServices
@inject IModalService myModal
@inject IStringLocalizer<Resource> localizer

<h3>@localizer["CreateCoupon"]</h3>

<EditForm Model="coupon" OnValidSubmit="Create">
    <DataAnnotationsValidator />
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <InputText class="input" type="text" placeholder="@localizer["CouponName"]" @bind-Value="@coupon.Name" oninput="this.value=this.value.toUpperCase()" />
            <ValidationMessage For="@(()=>coupon.Name)" />
        </div>
        <label class="label mt-2">@localizer["Pages"]</label>
        <div class="control">
            <InputNumber class="input" type="number" placeholder="Number input" @bind-Value="@coupon.Pages" />
            <ValidationMessage For="@(()=>coupon.Pages)" />
        </div>
    </div>

    <button class="button is-success is-link is-outlined" type="submit">@localizer["Create"]</button>
    <BackButtonComponent />
</EditForm>

@code {
    private Coupon coupon = new Coupon();

    private async Task Create()
    {
        coupon.Name = coupon.Name.ToUpper();
        await couponServices.AddCouponAsync(coupon);
        myModal.Show<ConfirmCreateComponent>(localizer["CouponHasBeenCreated"]);
        coupon = new Coupon();
    }
}