@page "/users/create"
@inject UserServices userServices
@inject BonusServices bonusServices
@inject IModalService myModal
@inject NavigationManager navManager

<h3>New Client</h3>

<EditForm Model="user" OnValidSubmit="Create">
    <DataAnnotationsValidator />
    <div class="field">
        <label class="label">Email</label>
        <div class="control">
            <InputText class="input" type="text" placeholder="User email" @bind-Value="@user.Email" />
            <ValidationMessage For="@(()=>user.Email)" />
        </div>

    </div>

    <div class="field is-horizontal">
        <label class="label mx-1" for="BonusInput">Bonus</label>
        <div class="control">
            <select name="bonus" id="BonusInput" @onchange="((arg)=> selectedValue = Convert.ToInt32(arg.Value))">
                <option value="0">Select bonus</option>
                @foreach (var bonus in bonuses)
                {
                    <option value="@bonus.Id">@bonus.Name</option>
                }
            </select>
        </div>
        <a class="button is-success is-small  is-link is-outlined mx-2" @onclick="AddBonusAsync">Add</a>
        <select name="bonus-selected" size="5" style="width:100px;" multiple>
            @foreach (var bonus in strBonusesToAddToUser)
            {
                <option>@bonus</option>
            }
        </select>
        <a class="button is-danger is-small  is-link is-outlined mx-2" @onclick="Clear">Clear</a>
    </div>

    <button class="button is-success  is-link is-outlined mx-1" type="submit">Create</button>
    <a href="users" style="text-decoration: none;" class="button is-info  is-link is-outlined mx-1">Back to List</a>
</EditForm>

@code {
    private User user = new User();
    List<Bonus> bonuses = new List<Bonus>();

    private int selectedValue;
    private List<int> intBonusesToAddToUser = new List<int>();
    List<Bonus> bonusesToAddToUser = new List<Bonus>();
    private List<string> strBonusesToAddToUser = new List<string>();

    protected async override Task OnInitializedAsync()
    {
        bonuses = await bonusServices.GetAllBonusAsync();
    }

    private async Task Create()
    {
        List<UserBonus> userBonusList = new List<UserBonus>();
        foreach (var bonus in bonusesToAddToUser)
        {
            userBonusList.Add(new UserBonus
            {
                Date = DateTime.Now,
                SpentPages = 0,
                User = user,
                Bonus = bonus
            });
        }
        user.UserBonus = userBonusList;
        await userServices.AddUserAsync(user);

        var messageForm = myModal.Show<ConfirmCreateComponent>($"The user has been created under the ID {user.Id}");
        var result = await messageForm.Result;

        navManager.NavigateTo($"users/details/{user.Id}");
    }

    private async Task AddBonusAsync()
    {
        if (selectedValue != 0 && intBonusesToAddToUser.Contains(selectedValue) == false)
        {
            intBonusesToAddToUser.Add(selectedValue);
            Bonus bonusToAddToUser = await bonusServices.GetBonusAsync(selectedValue);
            bonusesToAddToUser.Add(bonusToAddToUser);
            strBonusesToAddToUser.Add(bonusToAddToUser.Name);
        }
    }

    private void Clear()
    {
        intBonusesToAddToUser = new List<int>();
        strBonusesToAddToUser = new List<string>();
    }
}
