@page "/users"
@inject UserServices userServices
@inject IModalService myModal
@inject IJSRuntime JSRuntime

<h3>Clients List</h3>

@if (users == null || users.Count == 0)
{
    <h2>No user found</h2>
    <a href="users/create" style="text-decoration: none;" class="button is-primary is-link is-outlined is-small mb-3">Add Client</a>
}
else
{
    <a href="users/create" style="text-decoration: none;" class="button is-primary is-link is-outlined is-small mb-3">Add Client</a>
    <div class="table-container">
        <table class="table is-striped" id="myTable">
            <thead>
                <tr class="th has-text-centered">
                    <th></th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in users)
                {
                    url[0] = $"users/edit/{user.Id}";
                    url[1] = $"users/details/{user.Id}";
                    <tr class="has-text-centered">
                        <td style="vertical-align: middle">@(index++)</td>
                        <td style="vertical-align: middle">@user.Email</td>
                        <td style="vertical-align: middle">
                            <a href="@url[1]" class="button is-primary is-small is-link is-outlined" style="text-decoration: none;">Add Coupon</a>
                            <a href="@url[0]" class="button is-success is-small is-link is-outlined" style="text-decoration: none;">Edit</a>
                            <a href="@url[1]" class="button is-info is-small is-link is-outlined" style="text-decoration: none;">Details</a>
                            <a class="button is-danger is-small is-link is-outlined" style="text-decoration: none;" @onclick="@(()=>HandleDelete(user))">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    List<User> users;
    private int index = 1;
    string[] url = new string[2];

    protected async override Task OnInitializedAsync()
    {
        users = await userServices.GetAllUserAsync();
    }

    private async Task HandleDelete(User user)
    {
        var messageForm = myModal.Show<ConfirmDeleteComponent>($"Are you sure you want to delete the {user.Email} User?");
        var result = await messageForm.Result;

        if (result.Cancelled)
        {
            return;
        }

        if ((bool)result.Data)
        {
            await userServices.DeleteUserAsync(user);
            users = await userServices.GetAllUserAsync();
        }

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        index = 1;
        await JSRuntime.InvokeAsync<object>("DataTable");
    }
}